*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh ;
}
.main-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    padding: 10px;
    border: 1px solid black ;
    width:50%;
    align-items: center;
    box-shadow: 6px 4px rgba(0,0,0,0.2);
}

.main-form .box{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 10px;
    padding: 12px;
    
}

.main-login{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding: 20px;
    border: 1px solid black;
    align-items: center;
    box-shadow: 6px 4px rgba(0,0,0,0.2);
}
.main-login .box{
    margin: 15px 5px;
}

.new-register{
    width: 100%;
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
}
.new-register .link-to{
    text-decoration: none;
    padding-left: 8px;
}

.submit-btn{
    padding: 10px 18px;
    border-radius: 10px;
    color: white;
    background-color: blue;
    font-weight: 600;
}

.heading{
    width: 100%;
    text-align: center;
}

